*{
	margin: 0;
	padding: 0;
}


.brand{

	color:white;
	float:left;
	height: 100%;
	line-height: 55px;
	margin-left: 18%;
}

.brand a{
	text-decoration: none;
}

.brand p{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 20pt;
	width: 100%;
	color:white;
}

nav{
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background:rgba(33, 33, 33, 0.9) ;
	padding: 0, 100px;
	box-sizing: border-box;
}


nav ul{
	display: flex;
	float: right;
	margin: 0;
	padding: 0;
	margin-right: 18%;
	
}

nav ul li{
	list-style: none;
}

nav ul li a{
	position: relative;
	display: block;
	height: 55px;
	line-height: 55px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0;
	box-sizing: border-box;
	color:#fff;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-style: bold;
	font-size: 14px;
}

nav ul li a:hover{
	color:#3acedb;
	border-bottom: 2px solid #3acedb;
}

.wrapper{
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;  
}

.upfooter{
	background:#333333;
	width: 100%;
	height: 250px;
	margin-top: 50px;
	flex: 0 0 auto;
	bottom: 0;
}


.global-wrapper2{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.global-wrapper1{

}


.info {
	margin-left: 35%;
	width: 550px;
	display: inline-block;
	color: #1B1B1B;
	text-align: center;
	line-height: 0.85;
	font-family: 'Gothic A1', sans-serif;
	border-bottom:2px solid currentColor;
	padding-top: 50px;
}

.info h2{
	line-height: 2;
}

.contacts{
	color:whitesmoke;
	font-family: 'Gothic A1', sans-serif;
	margin-left: 18%;
	display: flex;
}

.contacts ul li{
	list-style: none;
}

.phone{
	display: inline;
	padding-top: 5.5%;
	margin-right: 5%;
	line-height: 1.5;
}

.phone h3{
	border-bottom: 2px solid whitesmoke;
}

.phone p{
	padding-top: 1px;
}

.adress{
	display: inline;
	padding-top: 5.5%;
	margin-right: 5%;
	line-height: 1.5;
}

.adress  h3{
	border-bottom: 2px solid whitesmoke;
}

.mail{
	display: inline;
	padding-top: 5.5%;
	margin-right: 5%;
	line-height: 1.5;
}

.mail  h3{
	border-bottom: 2px solid whitesmoke;
}

.social{
	display: flex;
	padding-top:5.5%;
	margin-left: 25px;
}

.social img{
	width: 45px;
	height: 45px;
	margin-right: 35px;
}


footer{
	bottom: 0;
	height: 55px;
	width: 100%;
	background: #292828;
	flex: 0 0 auto;
}


footer p{
	text-align: center;
	color:white;
	height:55px;
	line-height: 55px;
	font-family: 'Ubuntu', sans-serif;
	font-style: Medium;
}

body{
	position: relative;
}

html, body{
	height: 100%;
}

.client-content{
	margin-top: 2%;
	width: 1200px;
	margin-left: 18%;
	font-family: 'Gothic A1', sans-serif;
	color: #1B1B1B;
}

.content{
	flex: 1 0 auto;
}

.client{
	text-align: right;
	display: inline;
}

.header {
	display: flex;
	border-bottom: 2px solid #3acedb;
}


.header h3{	
	box-sizing:border-box;
	padding-bottom:2px;
	width: 100%;
	color: #1B1B1B;
}



.client{
	display: inline-flex;
	word-wrap:break-word;
	width: 100%;
	padding-bottom:2px;
}

.client h3, h2{
	width: 100%;
}

.client h4{
	padding-top: 2px;
	padding-left: 5px;
}


.person h3:hover{
	color: #3acedb;
	border-bottom: 2px solid #3acedb;
}

.person h4:hover{
	cursor:default;
}


.sessions{
	color: #666666;
}


.person-block{
	position: relative;
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	height: 250px;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 5px;
	border: 2px solid #E0E0E0;
	background: white;
}

.master-card{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #E0E0E0;
	height: 150px;
}

.person-cell{
	width: 500px;
	height: 100px;
}

.person{
	width: 100%;
	height: 100%;
	display: flex;
	height: 150px;
}

.person img{
	display: block;

}

.person a{
	text-decoration: none;
	color: #1B1B1B;
}

.name{
	padding-left: 50px;
}

.name h3{
	font-size: 26px;
}

.name h4{
	font-size: 14px;
	color: #666666;
}

.person-footer{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.person-footer{
	display:flex;
}

.sessions{
	font-size: 18px;
	text-align: left;
	width: 100%;
}
.time{
	text-align: right;
	margin-left: 15px;
	font-size: 18px;
	color: #3acedb;
}

.time:hover{
	border-bottom: 1px solid #3acedb;
	cursor: pointer;
}

.time a{
	text-decoration: none;
	color: #3acedb;
}

.navigation-team{
	margin-top: 20px;
	display:flex;
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}
.navigation-team a{
	padding-bottom: 2px;
}

.navigation-team a:hover{
	border-bottom: 2px solid #3acedb;
}


.navigation-service{

	margin-top: 20px;
	display:flex;
	width: 600px;
	margin-left:36%;
}

.navigation-service a{
	padding-bottom: 2px;
}

.navigation-service a:hover{
	border-bottom: 2px solid #3acedb;
}

.back{
	display: block;
	width: 70px;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
}

.skip{
	display: block;
	text-align: right;
	height: 35px;
	line-height: 35px;
	width: 100%;
	margin-left: 250px;
	margin-top: 10px;
}

.back a,
.skip a{
	text-decoration: none;
	color: #3acedb;
	font-family: 'Ubuntu', sans-serif;
}

.cards{
	display:flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.cards a{
	display: block;
	width: 395px;
	height: 250px;
	margin-top: 50px;
	background: #fff;
	text-align: center;
	line-height: 250px;
	text-decoration: none;
	font-size: 18pt;
	color: whitesmoke;
	text-transform: uppercase;
}
.card1{
margin-right: 6px;

}

.card2{
	margin-right:6px;
}

.card3{

}

.card1 a{
	background: url('/img/cards/team3.png') no-repeat center;
}

.card2 a{
	background: url('/img/cards/serv3.png') no-repeat center;
}

.card3 a{
	background:url('/img/cards/time3.png') no-repeat center;
}

.wrapper-personal{
	display: flex;
	flex-direction: column;
	height:608px;
}

.service-block{
}



.service-cell{
	margin-left: 36%;
	text-decoration: none;
	margin-top: 50px;


}




.service-footer{
	height: 40px;
	margin-left: 36%;
	width: 600px;

}

.service-card a{
	display: block;
	width: 600px;
	text-decoration: none;
	border-bottom: 1px solid #9E9E9E;
	height: 60px;
	font-size: 16pt;
	font-family: 'Ubuntu', sans-serif;
	color: #292828;
}

body{
	background:whitesmoke;
}

.service-card a:hover{
	color: #3ACEDB;
	border-bottom: 1px solid #3acedb;
}

.price{
	padding-top: 8px;
	padding-left: px;
	font-size: 13pt;
	text-align: right;
	font-family: 'Ubuntu', sans-serif;
}

.price::after{
	content:"\20BD"; 
}

.service-footer{
	color: #9E9E9E;
}


.global-wrapper-sevice{
	display: flex;
	flex-direction: column;
	height: 100%;  
}

.content-service{
	flex: 1 0 auto;
}

.global-datentime-wrap{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content-datentime{
	flex: 1 0 auto;
}

.footer-datentime{
	flex: 0 0 auto;
}

.cards-output{
	display:flex;
	margin-left: auto;
	margin-right: auto;
}

.card-output1{
	margin-left: 22.5px;
	padding-top: 5px;
	border-top: 2px solid #333333;
	width: 350px;
	height: 250px;
	margin-top: 25px;
	margin-right: 50px;
}

.card-output2{
	padding-top: 5px;
	border-top: 2px solid #333333;
	width: 350px;
	height: 250px;
	margin-right: 50px;
	margin-top: 25px;
}

.card-output3{
	padding-top: 5px;
	border-top: 2px solid #333333;
	width: 350px;
	height: 250px;
	margin-top: 25px;
}
